<!-- footer.html -->
<footer class="footer">
    <div class="footer-content">
        <!-- Colonna di sinistra: Copyright, Privacy, Policy, Termini, Supporto -->
        <div class="left-section">
            <p>&copy; 2025 PollAI. All rights reserved.</p>
            <p>
                <a href="/privacy">Privacy Policy</a>
            </p>

            <!-- Supporto -->
            <div class="support">
                <p><strong>Support:</strong></p>
                <p>Support email: <a href="mailto:supporto@pollai.com">supporto@pollai.com</a></p>
            </div>
        </div>

        <!-- Colonna di destra: Contatti, Social -->
        <div class="right-section">
            <!-- Contatti -->
            <div class="contact-info">
                <p><strong>Contacts:</strong></p>
                <p>Email: <a href="mailto:teamcontatto@pollai.com">teamcontatto@pollai.com</a></p>
                <p>Phone: +39 123 456 0090</p>
                <p>Address: Via Giovanni Paolo II, 132, 84084 Fisciano SA, Campania, Italia</p>
            </div>

            <!-- Social Media di Instagram -->
            <div class="social-links">
                <p><strong>Follow us on</strong></p>
                <a href="#" class="instagram"> Instagram</a>
            </div>
        </div>
    </div>
</footer>