<!-- footer.html -->
<footer class="footer">
    <div class="footer-content">
        <!-- Colonna di sinistra: Copyright, Privacy, Policy, Termini, Supporto -->
        <div class="left-section">
            <p>&copy; 2025 PollAI. Tutti i diritti riservati.</p>
            <p>
                <a href="/privacy">Privacy Policy</a>|
                <a href="#">Termini e Condizioni</a>
            </p>

            <!-- Supporto -->
            <div class="support">
                <p><strong>Supporto:</strong></p>
                <p>Email di supporto: <a href="mailto:supporto@pollai.com">supporto@pollai.com</a></p>
            </div>
        </div>

        <!-- Colonna di destra: Contatti, Social -->
        <div class="right-section">
            <!-- Contatti -->
            <div class="contact-info">
                <p><strong>Contatti:</strong></p>
                <p>Email: <a href="mailto:teamcontatto@pollai.com">teamcontatto@pollai.com</a></p>
                <p>Telefono: +39 123 456 0090</p>
                <p>Indirizzo: Via Giovanni Paolo II, 132, 84084 Fisciano SA, Campania, Italia</p>
            </div>

            <!-- Social Media con l'icona di Instagram -->
            <div class="social-links">
                <p><strong>Seguici su:</strong></p>
                <a href="#" class="instagram"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
        </div>
    </div>
</footer>