<div th:fragment="navbar">
    <nav class="navbar">
        <a href="/" class="logo">
            <img src="/Images/Logo%20Bianco.png" alt="Logo" />
        </a>
        <div class="nav-links">
            <a href="our-story.html">Our Story</a>
            <a href="our-solutions.html">Our Solutions</a>
            <a href="privacy.html">Privacy</a> <!-- Qui aggiungi il link Privacy -->
        </div>
        <div class="nav-button">
            <a href="/choose-plan" class="button">Choose Your Plan</a>
        </div>
    </nav>
</div>
