<div th:fragment="userbar">
    <div class="user-bar">
        <div class="user-profile">
            <div class="profile-initials">
                <span th:text="${session.user.nome.substring(0,1) + session.user.cognome.substring(0,1)}"></span>
            </div>
            <div class="user-info">
                <a href="/profilo">
                    <p th:text="${session.user.nome + ' ' + session.user.cognome}"></p>
                </a>
            </div>
        </div>

        <div class="user-link-top">
            <a href="/area-utente">Dashboard</a>
            <a href="/accesso-produzione">Produzione</a>
            <a href="/accesso-salute">Salute</a>
        </div>

        <div class="user-links-bottom">
            <a href="/accesso-magazzino">Magazzino</a>
            <a href="/accesso-pollaio">Pollaio</a>
        </div>
    </div>
</div>