body {
    background: linear-gradient(135deg, rgb(223, 255, 224) 40%, rgb(223, 255, 224) 100%);
    font-family: 'Merriweather', serif;
    margin: 0;
    height: 100vh;
}

h1 {
    font-size: 3.2em;
    color: #004d61;
    margin-top: 50px;
    text-align: center;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #e74c3c;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}

.login-form {
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    height: 400px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #004d61;
    font-family: 'Merriweather', serif;
}

.input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}

.input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 70%;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-family: 'Merriweather', serif;
}


.input-container span {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    place-content: center;
}

.input-container span svg {
    color: #9CA3AF;
    width: 1rem;
    height: 1rem;
}

/* Stile del bottone di login */
.button-login {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(8, 128, 8);
    border: 2px solid rgb(8, 128, 8);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.button-login::before {
    content: '';
    position: absolute;
    inset: -3px;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(8, 128, 8);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button-login:hover::before {
    scale: 3;
}

.button-login:hover {
    color: #ffffff;
    scale: 1;
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.button-login:active {
    scale: 1;
}

/* Responsive */
@media (max-width: 768px) {
    .login-form {
        width: 60%;
    }

    .input-container input {
        width: 70%;
    }

    h1 {
        font-size: 2.8em;
        margin-top: 40px;
    }

    h2 {
        font-size: 1.1em;
    }

    .form-title {
        font-size: 1.1rem;
    }

    .button-login {
        padding: 8px 20px;
        font-size: 16px;
    }

    .signup-link {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    body {
        background: linear-gradient(135deg, rgb(223, 255, 224) 40%, rgb(223, 255, 224) 100%);
    }

    .login-form {
        width: 70%;
    }

    .input-container input {
        width: 80%;
    }

    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1em;
    }

    .form-title {
        font-size: 1rem;
    }

    .button-login {
        width: 40%;
        padding: 12px 0;
        font-size: 18px;
    }

    .signup-link {
        font-size: 0.9rem;
    }
}
