main section {
    padding: 60px 20px 100px 20px;
    min-height: 70vh;
    background: linear-gradient(135deg, #ffffff 40%, #ffffff 100%);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

main section h1 {
    font-size: 3.2em;
    color: #004d61;
    margin-bottom: 30px;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.solutions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo semitrasparente */
    border-radius: 10px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Quando passi sopra con il mouse, il testo diventa visibile */
.card:hover .card__text {
    opacity: 1;
}

.card__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #ddd;
    line-height: 1.4;
}

/* Effetto hover per ingrandire la card */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

/* Responsive */
@media (max-width: 768px) {
    main section {
        padding: 30px 15px;
    }

    main section h1 {
        font-size: 2.1em;
    }

    .solutions-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 350px;
        margin: 10px 0;
    }
}