.user-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    color: white;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    box-sizing: border-box;
    background-color: #203752;
    z-index: 1;
}

.initials {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #019ADE;
    color: white;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

.user-bar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
    padding-left: 0;
}

.user-bar a:hover {
    text-decoration: underline;
}

.user-link-top {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-links-bottom {
    margin-top: auto; /* Spinge i link in fondo alla barra */
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea i link a sinistra */
    gap: 20px; /* Uniforma lo spazio tra i link */
}

.user-bar .user-links-bottom a {
    margin: 0 !important; /* Forza l'azzeramento dei margini */
    padding: 0 !important; /* Forza l'azzeramento del padding */
    text-align: left !important;
    display: block;
    width: 100%;
    color: #ffffff !important;
    text-decoration: none;
    font-size: 18px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-info p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}
