<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Utente</title>
    <link rel="stylesheet" href="/CSS/userbar.css">
    <link rel="stylesheet" href="/CSS/areautente.css">
</head>
<body>
<div class="userbar-container">
    <div th:replace="fragments/userbar :: userbar"></div>
</div>

<div class="content-container">
    <h1>Area Utente</h1>
    <p>Benvenuto nella tua area personale. Seleziona un'opzione dalla barra laterale.</p>
</div>
</body>
</html>
