<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User area</title>
    <link rel="stylesheet" href="/CSS/userbar.css">
    <link rel="stylesheet" href="/CSS/areautente.css">
</head>
<body>
<div class="userbar-container">
    <div th:replace="fragments/userbar :: userbar"></div>
</div>


<div class="content-container">
    <h1>User area</h1>
    <p>Welcome to your personal area. Select an option from the sidebar.</p>
</div>

<a href="/accesso-produzione">
    <h4>accedi alla produzione</h4>
</a>

<a href="/nutrizione">
    <h4>accedi alla nutrizione</h4>
</a>

</body>
</html>
