<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configura il tuo pollaio!</title>
    <link rel="stylesheet" href="/css/nav-bar.css">
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: navbar"></div>
</header>
<p>Per accedere alle funzionalita di PollAI è prima necessario inserire i dati del proprio pollame</p><br>
<a href="/accesso-pollaio">accedi al pollaio</a><br>
<h2>Non vuoi farlo adesso? <a href="/area-utente">Area Utente</a></h2>

</body>
</html>