<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configura il tuo pollaio!</title>
    <link rel="stylesheet" href="/CSS/userbar.css">
    <link rel="stylesheet" href="/CSS/configura-pollaio.css">
    <script>
        setTimeout(function() {
            window.location.href = "/accesso-pollaio";
        }, 5000);  // 5000 millisecondi = 5 secondi
    </script>
</head>
<body>
<header>
    <div th:replace="fragments/userbar :: userbar"></div>
</header>
<div class="content-container">
    <p>Per accedere alle funzionalita' di PollAI è prima necessario inserire i dati del proprio pollame</p><br>
</div>
</body>
</html>
