<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salute</title>
    <link rel="stylesheet" href="/CSS/userbar.css">
</head>
<body>
<header>
    <div th:replace="fragments/userbar :: userbar"></div>
</header>
<h1>AREA GESTIONE SALUTE</h1>

<h2>Galline nel Pollaio</h2>

<!-- Verifica se ci sono galline -->
<div th:if="${not #lists.isEmpty(galline)}">
    <ul>
        <!-- Itera su tutte le galline -->
        <li th:each="gallina : ${galline}">
            <p th:text="${gallina.nome}"></p>
        </li>
    </ul>
</div>
<div th:if="${#lists.isEmpty(galline)}">
    <p>Non ci sono galline nel pollaio.</p>
</div>
</body>
</html>
