<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestione Produzione Uova</title>
</head>
<body>

<tbody>
    <tr th:each="entry : ${session.user.pollaio.produzione.uovaPerGiorno}">
        <td th:text="${entry.key}">Data</td>
        <td th:text="${entry.value}">uova</td>
    </tr>
</tbody>

<p>Inserisci uova</p>
<form th:action="@{/inserisci-uova}"  method="post">
    <div>
        <label for="date">Data:</label>
        <input type="date" id="date" name="date" required />
    </div>
    <div>
        <label for="quantita"> quantita:</label>
        <input type="number" id="quantita" name ="quantita" required />
    </div>
    <div>
        <button type="submit">aggiungi</button>
    </div>
</form>

<p>Quante uova sono state prodotte in passato</p>
<form th:action="@{/archivio-produzione}">
    <p>
        Periodo:
        <select name="category" size="1" class="category-select">
            <option value="3 months"> 3 months </option>
            <option value="1 month"> 1 month </option>
            <option value="1 year"> 1 year </option>
        </select>
        <input type="submit" value="Search">
    </p>
</form>

<p><span th:text="${archivio}"></span></p>

</body>
</html>