<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <h1>PollAI</h1>

    <a class="nav-link" href="/loginpage">Log in</a>

    <div class = "piano">
        <form action ="/registerpage" method="get">
            <input type="submit" value="Privato">
        </form>
    </div>

    <div class = "piano">
        <form>
            <input type="submit" value="Azienda Media">
        </form>
    </div>

    <div class = "piano">
        <form>
            <input type="submit" value="Azienda Grande">
        </form>
    </div>

</body>
</html>