<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/CSS/nav-bar.css">
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: navbar"></div>
</header>
    <h1>PollAI</h1>
    <h2 th:if="${Invalid}">Invalid Login</h2>
    <form action="/login" method="post">
        <label>Email: </label>
        <input type = "email" name = "email" pattern="/^[\w\-\.]+@([\w-]+\.)+[\w-]{2,}$/gm" required autofocus><br>
        <label>Password  </label>
        <input type = password name= "password" required><br>
        <input type="submit" value="Login">
    </form>
   <a href="/register-page">
       <button>Sign Up</button>
   </a>
</body>
</html>