<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Magazzino</title>
</head>
<body>
<h1> Magazzino </h1>
<p> Questo è il magazzino di <span th:text="${session.user.nome}"></span></p>

<h2>Lista dei farmaci: </h2>
<div class="farmaci-display">
    <ul>
        <li th:each="farmaco : ${session.user.magazzino.farmaci}">
            <span th:text="${farmaco.tipo}">Tipo</span>
            <span th:text="${farmaco.quantita}">Quantita</span>
        </li>
    </ul>
</div>
<p>Inserisci farmaci</p>
<form th:action="@{/inserisci-farmaco}"  method="post">
    <div>
        <label >tipo:</label>
        <input type="text" id="tipo_f" name="tipo_f" required />
    </div>
    <div>
        <label for="quantita_f"> quantita:</label>
        <input type="number" id="quantita_f" name ="quantita_f" required />
    </div>
    <div>
        <button type="submit">aggiungi</button>
    </div>
</form>

<h2>Lista del cibo: </h2>
<div class="cibo-display">
    <ul>
        <li th:each="cibi : ${session.user.magazzino.cibo}">
            <span th:text="${cibi.tipo}">Tipo</span>
            <span th:text="${cibi.quantita}">Quantita</span>
        </li>
    </ul>
</div>

<p>Inserisci cibo</p>
<form th:action="@{/inserisci-cibo}"  method="post">
    <div>
        <label >tipo:</label>
        <input type="text" id="tipo_c" name="tipo_c" required />
    </div>
    <div>
        <label for="quantita_c"> quantita:</label>
        <input type="number" id="quantita_c" name="quantita_c" required />
    </div>
    <div>
        <button type="submit">aggiungi</button>
    </div>
</form>
</body>
</html>