<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Section</title>
</head>

<body>
<h1>Nutrition Section</h1>


<main>
    <!-- Lista Pasti -->
    <div class="lista-pasti">
        <h2>Complete List of Meals</h2>
        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pasto : ${pasti}">
                <td th:text="${pasto.data}"></td>
                <td th:text="${pasto.cibo.tipo}"></td>
                <td th:text="${pasto.quantita}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- Seleziona Periodo -->
    <div class="periodo-display">
        <h2>View Meals by Period</h2>
        <form th:action="@{/visualizza-pasti-periodo}" method="post">
            <fieldset>
                <div>
                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" name="startDate" required />
                </div>
                <div>
                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="endDate" required />
                </div>
                <div>
                    <button type="submit">View</button>
                </div>
            </fieldset>
        </form>
        <div class="output-periodo">
            <h2>Meal List</h2>
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pasto : ${pastiFiltrati}">
                    <td th:text="${pasto.data}"></td>
                    <td th:text="${pasto.cibo.tipo}"></td>
                    <td th:text="${pasto.quantita}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Aggiungi Pasto -->
    <div class="aggiungi-pasto">
        <h2>Add a New Meal</h2>
        <form th:action="@{/aggiungi-pasto}" method="post">
            <fieldset>
                <div>
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" required />
                </div>
                <div>
                    <label for="ciboId">Food:</label>
                    <select id="ciboId" name="ciboId" required>
                        <option value="" disabled selected>Select a food</option>
                        <option th:each="cibo : ${cibi}" th:value="${cibo.id}" th:text="${cibo.tipo}"></option>
                    </select>
                </div>
                <div>
                    <label for="quantità">Quantity:</label>
                    <input type="number" id="quantità" name="quantità" min="1" required />
                </div>
                <div>
                    <button type="submit">Add</button>
                </div>
            </fieldset>
        </form>
    </div>

    <!-- Modifica Pasto -->
    <div class="modifica-pasto">
        <h2>Edit Meal</h2>
        <form th:action="@{/modifica-pasto}" method="post">
            <fieldset>
                <div>
                    <label for="data">Date:</label>
                    <input type="date" id="data" name="data" required />
                </div>
                <div>
                    <label for="cibo">Food:</label>
                    <select id="cibo" name="cibo" required>
                        <option value="" disabled selected>Select a Food</option>
                        <option th:each="cibo : ${cibi}" th:value="${cibo.id}" th:text="${cibo.tipo}"></option>
                    </select>
                </div>
                <div>
                    <label for="quantita">Quantity:</label>
                    <input type="number" id="quantita" name="quantita" min="1" required />
                </div>
                <div>
                    <button type="submit">Save Changes</button>
                </div>
            </fieldset>
        </form>
    </div>
</main>

</body>
</html>
