<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our story</title>
    <link rel="stylesheet" href="/CSS/nav-bar.css">
    <link rel="stylesheet" href="/CSS/homepage.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/our-story.css">
</head>
<body>

<header>
    <!-- Includi la navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>
</header>

<main>
    <section>
        <h1>Our story</h1>
        <p>
            Our vision is to simplify the management of decision-making processes through innovative and data-driven solutions.
            Our mission is to provide tools that improve productivity, promote collaboration and make every decision more informed and strategic.
        </p>
        <p>
            With our team, we are transforming the way organizations collect, analyze and use information.
        </p>
    </section>
</main>

<footer>
    <div th:replace="fragments/footer :: footer"></div> <!-- Inclusione del footer -->
</footer>

</body>
</html>
