<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicken Coop</title>
    <link rel="stylesheet" href="/CSS/userbar.css">
    <link rel="stylesheet" href="/CSS/pollaio.css">
    <script src="/JS/pollaio.js" defer></script>
</head>
<body>
<header>
    <div th:replace="fragments/userbar :: userbar"></div>
</header>

<div class="content-container">
    <h1> Chicken Coop </h1>
    <p><b> This is the chicken coop of <span class="nome-utente" th:text="${session.user.nome}"></span></b></p>

    <h2>Chickens: </h2>
    <div class="pollame-display">
        <ul>
            <li th:each="gallina : ${session.user.pollaio.galline}" style="display: flex; align-items: center; margin-bottom: 20px; width: 100%;">
                <div style="flex-grow: 1; margin-right: 20px;">
                    <strong>Breed:</strong> <span th:text="${gallina.razza}">variety</span>
                </div>
                <div style="flex-grow: 1; margin-right: 20px;">
                    <strong>Age (in months):</strong> <span th:text="${gallina.eta}">age</span>
                </div>
                <div style="flex-grow: 1; margin-right: 20px;">
                    <strong>Weight (in grams):</strong> <span th:text="${gallina.peso}">weight</span>
                </div>
                <div style="margin-left: auto;">
                    <form th:action="@{/rimuovi-gallina}" method="post">
                        <input type="hidden" th:name="gallinaId" th:value="${gallina.id}" />
                        <button type="submit">Remove</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>

    <div th:if="${session.user.pollaio.quantity < 15}">
        <br>
        <p><b>Add chicken:</b></p>
        <form th:action="@{/inserisci-gallina}" method="post" onsubmit="return validateForm()">
            <div>
                <label> Breed:</label>
                <label>
                    <input type="text" name="razza" required />
                </label>
            </div>
            <div>
                <label> Age (in months):</label>
                <label>
                    <input type="number" name="eta" required min="1" />
                </label>
            </div>
            <div>
                <label> Weight (in grams):</label>
                <label>
                    <input type="number" name="peso" required />
                </label>
            </div>
            <div>
                <button type="submit">Add</button>
            </div>
        </form>
    </div>

    <div th:if="${session.user.pollaio.quantity > 15}">
        <h2>Maximum number of chickens for your plan reached.</h2>
        <h3>To add more chickens, you must upgrade your plan!</h3>
    </div>
</div>

</body>
</html>
