<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pollaio</title>
</head>
<body>
<h1> Pollaio </h1>
<p> Questo è il pollaio di <span th:text="${session.user.nome}"></span></p>

<h2>Lista delle galline: </h2>
<div class="pollame-display">
    <ul>
        <li th:each="gallina : ${session.user.pollaio.galline}">
            <span th:text="${gallina.razza}">Razza</span>
            <span th:text="${gallina.eta}">età</span>
            <span th:text="${gallina.peso}">peso</span>
            <form th:action="@{/rimuovi-gallina}"  method="post">
                <div>
                    <input type="hidden" th:name="gallinaId" th:value="${gallina.id}" />
                    <button type="submit">Rimuovi</button>
                </div>
            </form>
        </li>
    </ul>
</div>
<div th:if="${session.user.pollaio.quantity < 15}">
    <p>Inserisci gallina</p>
        <form th:action="@{/inserisci-gallina}"  method="post">
            <div>
                <label >razza:</label>
                <input type="text" name="razza" required />
            </div>
            <div>
                <label> età:</label>
                <input type="number" name ="eta" required />
            </div>
            <div>
                <label> peso (in grammi):</label>
                <input type="number" name ="peso" required />
            </div>
            <div>
                <button type="submit">aggiungi</button>
            </div>
        </form>
</div>

<div th:if="${session.user.pollaio.quantity > 15}">
    <h2>Reached the maximum number of poultry for your plan.</h2>
    <h3>To add more poultry you must upgrade your plan!</h3>
</div>

</body>
</html>