<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy Policy</title>
  <link rel="stylesheet" href="/CSS/homepage.css">
  <link rel="stylesheet" href="/CSS/nav-bar.css">
  <link rel="stylesheet" href="/CSS/footer.css">
  <link rel="stylesheet" href="/CSS/privacy.css">
</head>
<body>

<header>
  <!-- Includi la navbar -->
  <div th:replace="fragments/navbar :: navbar"></div>
</header>

<main>
  <section>
    <h1>Privacy Policy</h1>

    <h3>Introduction</h3>
    <p>
      Your privacy is our priority. At PollAI, we are committed to protecting our users’ personal data and complying with all applicable data protection regulations, including the General Data Protection Regulation (GDPR).
    </p>

    <h3>Data</h3>
    <p>
      We collect and process only the data strictly necessary to offer you a high quality service. This may include personal data such as your name, email address and other data that you voluntarily provide us when using our platform.
    </p>

    <h3>How We Use Your Data</h3>
    <p>
      The data collected is used exclusively to improve your experience on the platform. We do not sell or share your data with third parties without your explicit consent.
    </p>

    <h3>Your Rights</h3>
    <p>
      In accordance with the GDPR, you have the right to access, modify, delete or limit the processing of your personal data. You can also request data portability and object to processing in certain circumstances.
    </p>

    <h3>Contact us</h3>
    <p>
      If you have any questions about our Privacy Policy or wish to exercise your data protection rights, please contact us at: <a href="mailto:supporto@pollai.com">supporto@pollai.com</a>.
    </p>
  </section>
</main>

<footer>
  <div th:replace="fragments/footer :: footer"></div> <!-- Inclusione del footer -->
</footer>

</body>
</html>
